/MatrizNxMAletorios/nbproject/private/
/MatrizNxMAletorios/build/
/SopaDeLetras/nbproject/private/
/SopaDeLetras/build/
/Fibonacci/nbproject/private/
/Fibonacci/build/
/Clases/nbproject/private/
/Clases/build/
/ClaseLibro/nbproject/private/
/ClaseLibro/build/
/classCircunferencia/nbproject/private/
/classCircunferencia/build/
/ClaseOperacion/nbproject/private/
/ClaseOperacion/build/
/ClaseCircunferencia1/nbproject/private/
/ClaseCircunferencia1/build/
/Operacion/nbproject/private/
/Operacion/build/
/ModeladorRectangulos/nbproject/private/
/ModeladorRectangulos/build/
/ModeloCancion/nbproject/private/
/ModeloCancion/build/
/Puntos/nbproject/private/
/Puntos/build/